/* Navbar styles */
.container {
    max-width: 144rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-brand a {
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    gap: 3.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a.active {
    font-weight: 700;
}
